<h1 class="my-5 text-center">Üdvözlünk a Filmcsillag admin oldalán!</h1>

<div class="container">
    <div class="row ">
        <div class="col-md-6 d-flex justify-content-center">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/troja.jpg" class="card-img-top" alt="Trója">
                <div class="card-body">
                    <h5 class="card-title">Legnézetebb film</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="products" class="btn btn-primary">Tovább a filmek listájára</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 d-flex justify-content-center mt-5 mt-md-0">
            <div class="card" style="width: 18rem;">
                <img src="/assets/images/asterix-es-obelix-1999.png" class="card-img-top" alt="Asterix és Obelix">
                <div class="card-body">
                    <h5 class="card-title">Legolcsóbb film</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a routerLink="products" class="btn btn-primary">Tovább a filmek listájára</a>
                </div>
            </div>
        </div>
    </div>
</div>