<h1 class="text-center my-4">Vásárlók listája</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-4 my-3 mx-auto">
            <select [(ngModel)]="filterKey" class="form-control">
                <option *ngFor="let col of cols" [value]="col.key">{{ col.text }}</option>
            </select>
        </div>
        <div class="input col-4 mx-auto">
            <form class="form-inline my-3">
                <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Keresés">
                <button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-8 offset-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th *ngFor="let col of cols"> {{ col.text }}</th>
                        <th>Kezelés</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let customer of customerList$ | async | filter:filterKey:phrase ">
                        <td>
                            {{ customer.id}}
                        </td>
                        <td>
                            {{ customer.firstName }}
                        </td>
                        <td>
                            {{ customer.lastName }}
                        </td>
                        <td>
                            {{ customer.email }}
                        </td>
                        <td>
                            {{ customer.address.zip }} {{ customer.address.country }}
                            {{ customer.address.city }} {{ customer.address.street }}
                        </td>
                        <td>
                            <div *ngIf="customer.active" style="text-align: center;"><i class="fa fa-check"></i></div>
                            <div *ngIf="!customer.active" style="text-align: center;"><i class="fa fa-times"></i></div>
                        </td>
                        <td>
                            <div class="btn-group">
                                <button class="btn btn-primary">
                                    <i class="fa fa-refresh"></i>
                                </button>
                                <button class="btn btn-danger" (click)="onRemove(customer)">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>